body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html{
    scroll-behavior: smooth;
}
/********************* header *********************/
header{
    height: 83px;
    /* background-color: #3F2817; */
    background-color: #000000;
    position: fixed;
    width: 100%;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    width: 100%;
}
.navbar a{
    color: #FFFFFF;
}
.navbar-brand img{
    width: 150px;
}
.nav-link{
    margin-right: 20px;
}
.nav-link a{
    color: #FFFFFF;
}
.nav-link:hover{
    background-color: #FFFFFF;
}
.navbar-collapse{
    display: flex;
    justify-content: flex-end;
}
.logo{
    box-shadow: none;
}
.navbar-collapse{
    background-color: #000000;
    width: 100%;
    margin: 0;
}
.container-fluid{
    padding: 0;
}
.navbar-toggler-icon{
    color: #FFFFFF;
}
/********************* fin header *********************/
/********************* main *********************/
.jumbotron{
    width: 100%;
    height: 510px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.jumbotron img{
    width: 400px;
    margin-left: 60px;
    border-left:  solid 1px #FFFFFF;
}
.elementos-jumbotron{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.elementos-jumbotron h1{
    font-size: 50px;
    color: #FFFFFF;
    margin: 0;
}
.elementos-jumbotron span{
    color: #FFFFFF;
}
.mensaje{
    color: #FFFFFF;
}
.email-contacto{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.input-email{
    width: 350px;
    height: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.input-button{
    background-color: rgb(128, 128, 128);
    color: #FFFFFF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}
.input-button:hover{
    background-color: #FFFFFF;
    color: #000000;
}
.mensaje{
    margin-top: 10px;
}
/********************* Vista móvil jumbotron *********************/
@media (max-width: 960px) {
    .jumbotron{
        display: flex;
        flex-direction: column;
        height: 650px;
    }
    .jumbotron img{
    width: 250px;
    margin-left: 60px;
    border-left:  solid 1px #FFFFFF;
    transform: rotate(90deg);
    margin:  0 auto;
    }
    .elementos-jumbotron{
        margin-top: 80px;
    }
    .elementos-jumbotron{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .elementos-jumbotron h1{
        font-size: 30px;
        color: #FFFFFF;
        margin: 0;
    }
    .elementos-jumbotron span{
        font-size: 15px;
    }
    .formulario-contacto{
        width: 70%;
        margin: 0 auto;
    }
    .mensaje-span{
        font-size: 12px;
        text-align: center;
    }
    .titulo{
        width: 95%;
    }
    .mensaje{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
/********************** Presentación **********************/
.presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 150px;
}
.presentacion video, img{
    width: 600px;
    border-radius: 5px;
    box-shadow: 0px 29px 50px -20px rgba(0,0,0,0.75);
}
.parrafo-presentacion,
.parrafo-presentacion2{
    width: 85%;
    text-align: center;
    font-size: 20px;
}
.presentacion-video{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 25px;
    margin: 5px;
    box-shadow: 0px 29px 50px -20px rgba(0,0,0,0.75);
}
.presentacion-imagen{
    display: flex;
    align-items: center;
    font-size: 25px;
    margin: 5px;
    box-shadow: 0px 29px 50px -20px rgba(0,0,0,0.75);
}
/********************* Vista móvil presentación *********************/
@media (min-width: 1140px) {
    .presentacion{
        width: 95%;
    }
    .presentacion-video{
        display: flex;
        flex-direction: column-reverse;
    }
    .video{
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .presentacion-imagen{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 85px;
    }
}
@media (max-width: 1140px) {
    .presentacion{
        width: 95%;
    }
    .presentacion-video{
        display: flex;
        flex-direction: column-reverse;
    }
    .video{
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .presentacion-imagen{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 85px;
    }
}
@media (max-width: 420px) {
    .presentacion{
        width: 100%;
    }
    .parrafo-presentacion{
        font-size: 15px;
    }
    .parrafo-presentacion2{
        font-size: 15px;
    }
    .video video{
        width: 100%;
    }
    .presentacion-imagen{
        width: 95%;
    }
    .imagen-presentacion img{
        width: 100%;
    }
}
/********************* menú cafés *********************/
.disfruta-cafes{
    background-image: linear-gradient(to top, #2d2d2d, #262626, #1f1f1f, #181818, #101010, #0b0b0b, #060606, #000000, #000000, #000000, #000000, #000000);
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.disfruta-cafes h2{
    font-size: 50px;
    color: #FFFFFF;

}
.cafe{
    width: 52%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagen-cafe img{
    width: 330px;
}
.menu-disponible{
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}
.menu-cafes{
    width: 340px;
    margin: 30px;
}
.menu-cafes p, span{
    font-size: 20px;
}
.info-cafe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(159, 154, 154, 0.396);
    box-shadow: 0px 29px 50px -20px rgba(0,0,0,0.75);
    padding: 10px;
    border-radius: 12px;
}
.info-cafe:hover{
    box-shadow: 0px 29px 39px 0px rgba(2,249,112,0.75);
    box-shadow: 0px 29px 39px 0px rgba(63,34,18,0.75);
}
.descripcion-cafe{
    text-align: center;
}
/********************* Vista móvil menú cafes *********************/
@media (max-width: 992px) {
    .menu-disponible{
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        width: 95%;
    }
}
@media (max-width: 768px) {
    .menu-disponible{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .disfruta-cafes h2{
        font-size: 40px;
        text-align: center;
    }
}
@media (max-width: 350px) {
    .menu-disponible{
        width: 90%;
    }
    .menu-cafes{
        width: 85%;
    }
    .imagen-cafe{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imagen-cafe img{
        width: 80%;
        box-shadow: none;
    }
    .descripcion-cafe p{
        font-size: 18px;
    }
    .descripcion-cafe span{
        font-size: 13px
    }
    .disfruta-cafes h2{
        font-size: 30px;
        text-align: center;
    }
}
/********************** presentacion del menú de pan **********************/
.menu-panes{
    background-color: #000000;
    border-bottom: solid 1px #373636;
}
.menu-panes h3{
    color: #FFFFFF;
    font-size: 30px;
}
.menu-panes img{
    width: 450px;
}
.presentacion-panaderia{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.mensaje-panaderia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mensaje-panaderia input{
    width: 100px;
    height: 35px;
    background-color: rgb(128, 128, 128);
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
}
.mensaje-panaderia input:hover{
    background-color: #FFFFFF;
    color: #000000;
}
.mensaje-panaderia,
.imagen-presentacion{
    margin: 35px;
}
/********************* Vista menú panes *********************/
@media (max-width: 840px) {
    .mensaje-panaderia h3{
        font-size: 30px;
        text-align: center;
    }
    .imagen-presentacion img{
        width: 100%;
    }
}
@media (max-width: 420px) {
    .presentacion-panaderia{
        display: flex;
        flex-direction: column;
    }
    .imagen-presentacion{
        width: 100%;
    }
    .imagen-presentacion img{
        width: 98%;
    }
}
/********************** ubicaciones y aside **********************/
.ubicaciones{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
    margin-top: 150px;
}
.ubicaciones a{
    text-decoration: none;
    color: #000000;
    font-size: 15px;
}
.aside1 img{
    width: 200px;
    box-shadow: none;
}
.aside2 img{
    width: 200px;
    box-shadow: none;
}
.aside1{
    display: flex;
    flex-direction: column;
    background-color: #a1a1a12d;
    justify-content: center;
    padding: 10px;
}.aside2{
    display: flex;
    flex-direction: column;
    background-color: #a1a1a12d;
    justify-content: center;
    padding: 10px;
}
.anuncio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-bottom: solid 1px #8883832f;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.ubicaciones-cafeterias{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ubicacion1,
.ubicacion2{
    width: 355px;
    height: 355px;
    margin-top: 30px;
}
.ubicacion2{
    margin-top: 90px;
}
/* .ubicacion2{
    width: 355px;
    height: 355px;
} */
.ubicacion-cafe{
    width: 350px;
    height: 350px;
    box-shadow: 0px 0px 45px -14px rgba(124, 123, 123, 0.782);
}
.titulo-aside{
    font-weight: 700;
    text-align: center;
}
.direccion{
    text-align: center;
}
/********************* Vista móvil úbicaciones y aside*********************/
@media (max-width: 840px) {
    .ubicaciones{
        width: 95%;
        display: flex;
    }
    .aside1{
        display: none;
    }
    .aside2{
        display: none;
    }
    .ubicacion-cafe{
        width: 360px;
        height: 360px;
        padding: 10px;
    }
    .ubicaciones-cafeterias{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
    .ubicacion1,
    .ubicacion2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

}
@media (max-width: 420px) {
    .ubicacion-cafe{
        width: 95%;
        padding: 10px;
    }
    .ubicacion1,
    .ubicacion2{
        width: 95%;
    }
}
/********************* Marcas cafés *********************/
.marcas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 0 auto;
}
.marcas-cafes{
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
}
.marca-patrocinador{
    width: 17%;
    box-shadow: none;
}
/********************* Vista móvil marcas *********************/
@media (max-width: 820px) {
    .marcas{
        margin-top: 100px;
    }
    .marcas-cafes{
        display: flex;
        margin: 0 auto;
    }
}
/********************* Footer *********************/
.derechos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    height: 200px;
    margin-top: 200px;
}
.derechos-autor{
    color: #FFFFFF;
    width: 50%;
    border-right: solid 1px #2d2d2d;
}
.redes{
    display: flex;
    justify-content: space-around;
    width: 15%;
}
.redes a{
    text-decoration: none;
}
.redes img{
    box-shadow: none;
    width: 25px;
}
/********************* Vista móvil footer *********************/
@media (max-width: 820px) {
    .derechos{
        display: flex;
        flex-direction: column-reverse;
    }
    .derechos-autor{
        width: 90%;
        border-right: none;
        border-top: solid 1px #2d2d2d;
        text-align: center;
    }
    .redes{
        width: 80%;
    }
}
@media (max-width: 350px) {
    .derechos{
        height: 350px;
    }
}

/* Gracias por llegar hasta aqui :3 */